body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#entradas-recientes h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.lista-entradas {
    display: grid; /* O puedes usar display: flex; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ejemplo de diseño adaptable con Grid */
    gap: 20px;
}

.entrada-miniatura {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entrada-miniatura a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

.entrada-miniatura img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.entrada-miniatura h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.entrada-miniatura p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.entrada-miniatura .fecha-publicacion {
    display: block;
    font-size: 0.8em;
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%; O el ancho que necesites */
}

/* Media queries para diseño adaptable */
@media (max-width: 768px) {
    .lista-entradas {
        grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
    }
    /* Ajustes adicionales para pantallas pequeñas */
}